name: Build

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  job:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Versions listed at https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json
        python-version: [
          "3.12",
        ]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
          pip install .
      - name: Build package
        run: python -m build
